@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border_box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  ms-text-size-adjust: 100%;
  moz-text-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EDEDED;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25em;
  padding: 2.2rem 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  gap-row: 10px;
}
.header__row a {
  color: #000;
}
.header__row a:hover {
  text-decoration: underline;
}

.content {
  margin: 50px 0;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.form {
  padding: 15px;
  font-size: 20px;
  line-height: 25px;
}
.form__header {
  text-align: center;
  font-size: 22px;
}
.form p {
  margin: 0 0 10px 0;
}
.form p input {
  font-size: 20px;
  margin: 0 10px;
  padding: 10px;
  background-color: #EDEDED;
}
.form p input[type=checkbox] {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid red;
}
.form form {
  border-radius: 15px;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

.footer {
  margin: 50px 0;
}
.footer__content {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  margin: 0 auto;
}
.footer__contacts {
  text-align: center;
  margin: 20px 0;
  font-size: 1.3em;
  line-height: 1.2em;
}
.footer__contacts a {
  margin: 20px 0 0 0;
  display: inline-block;
  border-radius: 20px;
  width: 4em;
  height: 4em;
}
.footer__contacts a:hover {
  position: relative;
  top: -5px;
}
.footer__contacts img {
  max-width: 100%;
}